### Predicts 10 blogs out of test data which are ging to receive most number of comments.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Load training data

In [2]:
df = pd.read_csv('/Users/gauravbishnoi/datas/blog_comments/blogData_train.csv', header=None)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,271,272,273,274,275,276,277,278,279,280
0,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,40.30467,53.845657,0.0,401.0,15.0,15.52416,32.44188,0.0,377.0,3.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df.iloc[:,-1], test_size=0.1, random_state=101)

In [66]:
def try_ols(xtrain, xtest, ytrain, ytest):
    from sklearn.linear_model import LinearRegression
    ols = LinearRegression()
    ols.fit(xtrain, ytrain)
    ols_predictions = ols.predict(xtest)
    top50_pred = ols_predictions.argsort()[-50:][::-1]
    top50_test = ytest.values.argsort()[-50:][::-1]
    print("top 10 score: {}".format(sum(np.in1d(top50_pred[:10],top50_test[:10]))))
    print("top 20 score: {}".format(sum(np.in1d(top50_pred[:20],top50_test[:20]))))
    print("top 50 score: {}".format(sum(np.in1d(top50_pred,top50_test))))

In [67]:
try_ols(x_train, x_test, y_train, y_test)

top 10 score: 1
top 20 score: 6
top 50 score: 28

In [23]:
import seaborn as sns

In [24]:
sns.set_style('whitegrid')
plt.rcParams["patch.force_edgecolor"] = True