In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [2]:
title_list = []
year_list = []
imdb_score_list = []
metascore_list = []
votes_list = []
gross_list = []

for page_no in range(1,51):
    imdb_url = "http://www.imdb.com/search/title?sort=num_votes&title_type=feature&view=advanced&page=" + str(page_no) + "&ref_=adv_nxt"
    page = requests.get(imdb_url)
    soup = BeautifulSoup(page.content, 'html.parser')
    
    movie_boxes = soup.select("div[class='lister-item mode-advanced']")
    
    for movie_box in movie_boxes:
        title = movie_box.select("h3 a")[0].text
        year = movie_box.select("span.lister-item-year")[0].text
        imdb_score = float(movie_box.select("div[class='inline-block ratings-imdb-rating'] strong")[0].text)
        if len(movie_box.select("div[class='inline-block ratings-metascore'] span")) != 0:
            #print(title)
            #print(movie_box.select("div[class='inline-block ratings-metascore'] span"))
            metascore = int(movie_box.select("div[class='inline-block ratings-metascore'] span")[0].text)
        else:
            continue
        if len(movie_box.select("span[name='nv']")) == 2:
            temp_nv = movie_box.select("span[name='nv']")
            votes = temp_nv[0]['data-value']
            gross = temp_nv[1]['data-value']
        else:
            continue
        title_list.append(title)
        year_list.append(year)
        imdb_score_list.append(imdb_score)
        metascore_list.append(metascore)
        votes_list.append(votes)
        gross_list.append(gross)

In [3]:
print("{}\n{}\n{}\n{}\n{}\n{}".format(len(title_list), len(year_list), len(imdb_score_list), len(metascore_list), len(votes_list), len(gross_list)))

2222
2222
2222
2222
2222
2222

In [4]:
df = pd.DataFrame({'imdb':imdb_score_list, 'metascore':metascore_list, 'movie':title_list, 'votes':votes_list, 'gross':gross_list, 'year':year_list})
df = df[['movie','imdb','metascore','votes','gross','year']]

In [5]:
df.head()

                      movie  imdb  metascore    votes        gross    year
0  The Shawshank Redemption   9.3         80  1838073   28,341,469  (1994)
1           The Dark Knight   9.0         82  1817974  533,316,061  (2008)
2                 Inception   8.8         74  1608158  292,568,851  (2010)
3                Fight Club   8.8         66  1473065   37,023,395  (1999)
4              Pulp Fiction   8.9         94  1438920  107,930,000  (1994)

In [6]:
df['gross'] = df['gross'].apply(lambda x: int((''.join(x.split(','))).rstrip()))

In [7]:
df.head()

                      movie  imdb  metascore    votes      gross    year
0  The Shawshank Redemption   9.3         80  1838073   28341469  (1994)
1           The Dark Knight   9.0         82  1817974  533316061  (2008)
2                 Inception   8.8         74  1608158  292568851  (2010)
3                Fight Club   8.8         66  1473065   37023395  (1999)
4              Pulp Fiction   8.9         94  1438920  107930000  (1994)

In [8]:
df['year'].unique()

array(['(1994)', '(2008)', '(2010)', '(1999)', '(2001)', '(2003)',
       '(1972)', '(2012)', '(2002)', '(1995)', '(2014)', '(2000)',
       '(2005)', '(1977)', '(1991)', '(2009)', '(1998)', '(2006)',
       '(1993)', '(1980)', '(2013)', '(1974)', '(1997)', '(1985)',
       '(1990)', '(1983)', '(1975)', '(2004)', '(1992)', '(1981)',
       '(2015)', '(2007)', '(2016)', '(1984)', '(1988)', '(1979)',
       '(2011)', '(1989)', '(1966)', '(1986)', '(1987)', '(1996)',
       '(I) (2008)', '(1982)', '(I) (2013)', '(I) (2012)', '(1968)',
       '(I) (2011)', '(1960)', '(I) (2015)', '(1976)', '(I) (2004)',
       '(II) (2016)', '(I) (2014)', '(2017)', '(I) (2010)', '(1939)',
       '(1973)', '(I) (2009)', '(I) (2016)', '(I) (2005)', '(I) (2007)',
       '(II) (2014)', '(I) (2006)', '(1954)', '(I) (1995)', '(1967)',
       '(1962)', '(IX) (2016)', '(I) (2000)', '(1978)', '(1959)',
       '(II) (2015)', '(1969)', '(1936)', '(I) (1998)', '(I) (2017)',
       '(1964)', '(1927)', '(I) (1999)', '(II) (2013)', '(VI) (2015)',
       '(1963)', '(I) (2003)', '(II) (2009)', '(1965)', '(I) (1990)',
       '(1971)', '(1970)'], dtype=object)

In [9]:
df['year'] = df['year'].apply(lambda x: int(x[-5:-1]))

In [10]:
df.head()

                      movie  imdb  metascore    votes      gross  year
0  The Shawshank Redemption   9.3         80  1838073   28341469  1994
1           The Dark Knight   9.0         82  1817974  533316061  2008
2                 Inception   8.8         74  1608158  292568851  2010
3                Fight Club   8.8         66  1473065   37023395  1999
4              Pulp Fiction   8.9         94  1438920  107930000  1994

In [22]:
df.to_csv('movie_by_votes.csv')

In [23]:
df2 = pd.read_csv('movie_by_votes.csv', index_col=0)

In [24]:
df2.head()

                      movie  imdb  metascore    votes      gross  year
0  The Shawshank Redemption   9.3         80  1838073   28341469  1994
1           The Dark Knight   9.0         82  1817974  533316061  2008
2                 Inception   8.8         74  1608158  292568851  2010
3                Fight Club   8.8         66  1473065   37023395  1999
4              Pulp Fiction   8.9         94  1438920  107930000  1994