In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
mdf = pd.read_csv('data/meteorite-landings.csv')

In [3]:
mdf.sample(5)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
43602,Yamato 980162,36788,Valid,H6,7.431,Found,1998.0,NaN,NaN,NaN
26050,Miller Range 090980,55243,Valid,Ureilite,98.100,Found,2009.0,0.00,0.00000,"(0.000000, 0.000000)"
43600,Yamato 980160,36786,Valid,H5,110.320,Found,1998.0,NaN,NaN,NaN
26604,Northwest Africa 1232,32147,Valid,CO3,1900.000,Found,2001.0,NaN,NaN,NaN
17462,Landreth Draw,12459,Valid,H5,NaN,Found,1955.0,37.25,-98.13333,"(37.250000, -98.133330)"

In [4]:
mdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
name           45716 non-null object
id             45716 non-null int64
nametype       45716 non-null object
recclass       45716 non-null object
mass           45585 non-null float64
fall           45716 non-null object
year           45428 non-null float64
reclat         38401 non-null float64
reclong        38401 non-null float64
GeoLocation    38401 non-null object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [12]:
(mdf.isnull().sum()/mdf.shape[0])*100

name            0.000000
id              0.000000
nametype        0.000000
recclass        0.000000
mass            0.286552
fall            0.000000
year            0.629976
reclat         16.000962
reclong        16.000962
GeoLocation    16.000962
dtype: float64