In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.svm import SVC

from sklearn.model_selection import train_test_split
from sklearn import metrics

%matplotlib inline

In [2]:
def child_or_not(x):
    if x['title'] == 'Master.':
        return 1
    elif x['title'] == 'Miss.' and x['Age'] <=14:
        return 1
    else:
        return 0

In [3]:
def titanic_preprocessing_train(df):
    
    df.drop(columns=['Cabin', 'Ticket', 'PassengerId'], inplace=True)
    
    impute_value_embarked = df['Embarked'].mode()[0] # used in return
    df['Embarked'] = df['Embarked'].fillna(impute_value_embarked)
    
    age_fill_data = df.groupby(by=['Pclass', 'Sex']).mean()['Age'] # used in return
    df['Age'] = df.apply(lambda x: int(age_fill_data[x['Pclass']][x['Sex']]) if pd.isnull(x['Age']) else x['Age'], axis=1)
    
    df['title'] = df['Name'].apply(lambda x: x.split(',')[1].strip().split()[0] if len(x.split(',')) > 1 else np.nan)
    df['is_child'] = df.apply(child_or_not, axis=1)
    df.drop(columns=['Name','title'], inplace=True)
    
    pclass_dummies = pd.get_dummies(df['Pclass'], drop_first=True)
    embarked_dummies = pd.get_dummies(df['Embarked'], drop_first=True)
    sex_dummies = pd.get_dummies(df['Sex'], drop_first=True)
    df = pd.concat([df, pclass_dummies, embarked_dummies, sex_dummies], axis=1)
    df.drop(columns=['Pclass','Embarked','Sex'], inplace=True)
    
    df['SibSpParch'] = df['SibSp'] + df['Parch']
    
    
    svc_model = make_pipeline(StandardScaler(), SVC(C=1, gamma=0.06))
    svc_model.fit(df.drop(columns = ['Survived']), df['Survived'])
    
    return svc_model, impute_value_embarked, age_fill_data

In [4]:
dff = pd.read_csv('titanic_train.csv')
dff.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
sv, emb_fill, age_fill = titanic_preprocessing_train(dff)

In [6]:
sv

Pipeline(memory=None,
     steps=[('standardscaler', StandardScaler(copy=True, with_mean=True, with_std=True)), ('svc', SVC(C=1, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.06, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False))])

In [8]:
dff2 = pd.read_csv('titanic_test.csv')
dff2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
dff2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB